<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>shippify</name>
	<displayName><![CDATA[Shippify]]></displayName>
	<version><![CDATA[0.5.1]]></version>
	<description><![CDATA[Add easy shipping at checkout with Shippify.]]></description>
	<author><![CDATA[&Aacute;lvaro Ortiz & Leonardo Kuffo]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>